$color_principal: white;
$color_secundario:white;
$color_tipografia: rgb(3, 187, 175);
$color_tipografia2: beige;
$color_hover:rgb(135, 135, 255);
$color_background:  rgb(138, 218, 213);
$color_navdesplegable:rgb(252, 178, 170);
$tipografia_principal:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia_secundaria: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia_h1: 'Jost', sans-serif;
$tipografia_pindex:'Comfortaa', cursive;
$color_boton:rgb(255, 132, 161);
$color_botonhover: rgb(255, 75, 117);
$tamanio_tipografiaprincipal: 20px;
