.boton{
    font-size: 15px;
    font-family: $tipografia_principal;
    color:$color_tipografia2;
    border: none;
}

.btn_card{
    
    width: 10%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: $color_secundario;
    font-size: 20px;
    justify-content:center;
    align-items: center;
    height: 10%;
    
        
}
.btn_card:hover{
color: $color_hover;
}




.btn-primary{
@extend .boton;
background-color: $color_hover;
margin-top: 10px;
margin-left:5px;

}


.btn-outline-danger{
@extend .boton;
grid-area: btn;
font-style: bold;
background-color: $color_boton;



}

.btn-outline-danger:hover{
background-color: $color_botonhover;
color:$color_tipografia2;
}