
.bloque_servicios{
    display: flex;
    flex-direction: column;
    align-items:center;
    @include margenes (100px, 100px);
    z-index: -1;
    gap:15px;
  
   .text-end{
    width: 80%;
    box-shadow: 3px 3px 5px $color_hover;
    
         .card-title{
             font-size: 30px;
             font-family: $tipografia_principal;
             }
         .card-text-end{
             text-align: justify;
             font-size: $tamanio_tipografiaprincipal;
             }
        }
    }

