
footer{
    display: flex;
    flex-direction: column;
    height: 60px;
    background-color:  $color_background;

    .icons{
        display: flex;
        width:100%;
        justify-content:space-around;
        margin-top: 10px;
        li{
    
            list-style-type: none;
            color:beige;
            font-size: 30px;
            justify-content:center;
            align-items: center;
        i:hover{
       color:$color_hover}     
        }
    }
}
   
    
    
    
    





