@media only screen and (min-width: 900px){
    .grid_section{  
        grid-template-columns: 45% 40%;
        grid-template-rows: 30% 20% 40% 10%;
        grid-template-areas: "titulo_principal img"
                             "titulo_secundario img"
                             "parrafo img"
                             "btn img";
        justify-content: space-around;
        align-content: space-evenly;
        justify-items: center;
        align-items: center;
        background-color: $color_principal;
        height: 500px;
        @include margenes (100px, 100px);
    }
    
    .nav-link{
        color: $color_tipografia;
        font-size: $tamanio_tipografiaprincipal;
        width: 150px;
       }
   
    .navbar-nav{
        width: 100%;
        justify-content: space-evenly;
        font-family:$tipografia_principal;
        background-color: $color_secundario;
        
    }
    .cv{
        height: 600px;
      
    }
    
.h2_card{
    font-size: 18px;
    
}

.p_card{
    padding: 30px;
    text-align: center;
    font-size: 18px;
}

.img_card{
    width: 80%;
    object-fit: contain;
    padding:10px;
}
header{
    position: sticky;
    top:0;
    z-index: 1;
    
}

body{
    
    min-height: 1100px;
    }

main{
    
    height: 840px;
    
  }
    
    
}