
@media only screen and (max-width: 600px){
    .grid_section{
        height: 1000px;
        grid-template-columns: 90%;
        grid-template-rows: 100px 60px 250px 70px 300px; 
        grid-template-areas: "titulo_principal" 
                             "titulo_secundario "
                             "parrafo"
                             "btn"
                             "img";
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        margin-top: 100px;
        } 

        .titulo_principal{
            font-size: 30px;
        }
    
        .titulo_secundario{
            font-size: $tamanio_tipografiaprincipal;
            
        }
        .pindex{
            font-size:15px;
        }
        .nosotros{
            display:flex;
            flex-direction: column;
            gap:10px;
            height: 1000px;
        }
        .cv{
            width: 85%;
           height: 30%;
        }
        .bloque_cartas{
            margin-top: 20px;
        
        }
        .p_card{
            padding: 5px;
            font-size: 12px;
            height: 30%;
        }
        .img_card{
           object-fit: contain;
           
        }
        .h2_card{
            font-size: 16px;
            height: 5%;
            
        }
                
        .navbar-nav{
            @include estilonavhamburguesa (25%, rgb(252, 178, 170), center); 
            z-index: 1;
        }

        .nav-link{
        color:$color_tipografia2;
        }
       
    }