
@media only screen and (max-width: 600px){
    .grid_section{
        height: 1000px;
        grid-template-columns: 90%;
        grid-template-rows: 100px 30px 200px 50px 300px; 
        grid-template-areas: "titulo_principal" 
                             "titulo_secundario "
                             "parrafo"
                             "btn"
                             "img";
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        margin-top: 50px;
        } 

        .titulo_principal{
            font-size: 30px;
        }
    
        .titulo_secundario{
            font-size: $tamanio_tipografiaprincipal;
            
        }
        .pindex{
            font-size:15px;
            
        }
        .nosotros{
            display:flex;
            flex-direction: column;
            gap:10px;
            height: 1100px;
        }
        .cv{
            width: 85%;
            height: 30%;
          
        }
        .bloque_cartas{
            margin-top: 20px;
        }
                    
        .h2_card{
            font-size: 15px;
            
            }

        .p_card{
            padding: 3px;
            text-align: center;
            font-size: 13px;
                       
            }

        .img_card{
            width: 150px;
            height: 150px;
            object-fit: contain;
            padding:10px;
            
        }
                
        .navbar-nav{
            @include estilonavhamburguesa (25%, $color_navdesplegable, center); 
            z-index: 1;
        }

        .nav-link{
        color:$color_tipografia2;
        }

        body{
           min-height: 1320px;
            }
        
        main{
            height: 1200px;
            
          }
       
    }