@media only screen and (min-width: 600px){
    .grid_section{
        height: 1500px;
        grid-template-columns: 90%;
        grid-template-rows: 100px 65px 200px 60px 300px; 
        grid-template-areas: "titulo_principal" 
                             "titulo_secundario "
                             "parrafo"
                             "btn"
                             "img";
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        margin-top: 100px;
        } 
        
        
        .nav-link{
            color:$color_tipografia2;
        }       
        
        .navbar-nav{
            @include estilonavhamburguesa (25%, rgb(252, 178, 170), center); 
            z-index: 1;
           
        }

        .cv{
            height: 700px;
        }
        
        .p_card{
            height:50%;
            font-size: 15px;
        }
        .h2_card  {
            height: 10%;
        } 
        .img_card{
           height: 30%
        }    
         
}
