@media only screen and (min-width: 600px){
    .grid_section{
        height: 1500px;
        grid-template-columns: 90%;
        grid-template-rows: 100px 65px 200px 60px 300px; 
        grid-template-areas: "titulo_principal" 
                             "titulo_secundario "
                             "parrafo"
                             "btn"
                             "img";
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        margin-top: 100px;
        } 
        .navbar-nav{
            @include estilonavhamburguesa (25%, $color_navdesplegable, center); 
            z-index: 1;
           
        }
                .nav-link{
            color:$color_tipografia2;
        }       
        
        .cv{
            height: 700px;
        }

               
        
        .h2_card{
            font-size: 18px;
            height: 10%;
        }

        .p_card{
            padding: 30px;
            text-align: center;
            font-size: 15px;
            height:50%;
            
        }

        .img_card{
            width: 80%;
            object-fit: contain;
            padding:10px;
            height: 30%
        }

        body{
            min-height: 1000px;
             }
         
         main{
             height: 900px;
             
           }
                
            
       
}
