@mixin estilonavhamburguesa ($ancho, $colorfondo, $alineaciontexto){
    width:$ancho;
    background-color: $colorfondo;
    text-align: $alineaciontexto;
}  

@mixin margenes ($margintop, $marginbottom){
    margin-top: $margintop;
    margin-bottom: $marginbottom;
}