nav{
    height: 60px;
    background-color: $color_secundario;

    .navbar-nav{
    position:sticky;
}

   .nav-link{
    color: $color_tipografia;
    font-size: $tamanio_tipografiaprincipal;
    width: 150px;
   }
   
   .nav-link:hover{
    color: $color_hover;
}

}