

    
    .formulario_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include margenes (100px, 100px);
        font-size: $tamanio_tipografiaprincipal;
        gap:20px;

        .barra_formulario{
            width: 50%;
            justify-content: center;
            }
    }